#concierge {
	background-color: var(--teal);
	display: block;
	font-family: magsans;
	height: 200vh;
	width: 100%;
}

#concierge.swipe {
	-webkit-animation: swipe-to-start 1s 1 ease;
					animation: swipe-to-start 1s 1 ease;
}

#welcome {
	pointer-events: none;
  color: white;
  height: 100vh;
  padding-top: 8em;
  padding-bottom: 8em;
  width: 100%;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-pack: distribute;
			justify-content: space-between;
}

#welcome > div {
	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-pack: distribute;
	    justify-content: space-between;
}

#welcome h1 {
  font-family: karnak-bold-condensed;
  font-size: 4em;
  margin-bottom: 15px;
	text-align: center;
}

#welcome p, #welcome ul, #welcome li,
#help-modal ul, #help-modal li {
  font-family: magsans;
  font-size: 1.25em;
  line-height: 1.3;
}

#welcome p {
  margin-top: 20px;
	font-size: 2rem;
}

#welcome ul {
	font-size: 1.5rem;
	padding-left: 20px;
  margin-top: 10px;
}

#welcome li ~ li {
  margin-top: 4px;
}

#welcome a:first-of-type {
  margin-top: 35px;
}

.arrow {
	height: 27px;
	width: 17px;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTciIHZpZXdCb3g9IjAgMCAxNyAxNyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iMyIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNOC41IDMuNXYxMiIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIvPjxwYXRoIGQ9Ik0xIDlsNy41LTYuODE2TDE2IDkiLz48L2c+PC9zdmc+);
	background-repeat: no-repeat;
	margin: 15px auto 0 auto;
}

.bounce {
	-webkit-animation: bounce 1s infinite alternate ease;
					animation: bounce 1s infinite alternate ease;
}

main {
	height: 100vh;
	width: 100%;
}

@media (max-width: 960px) {
  #concierge {
		display: none;
	}
}
