@-webkit-keyframes cursor-blink {
  0%		{ border-color: rgba(248, 205, 5, 0); }
	50%		{ border-color: rgba(248, 205, 5, 0); }
  100%	{ border-color: rgba(248, 205, 5, 1); }
}

@keyframes cursor-blink {
  0%		{ border-color: rgba(248, 205, 5, 0); }
	50%		{ border-color: rgba(248, 205, 5, 0); }
  100%	{ border-color: rgba(248, 205, 5, 1); }
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(1);
						transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.3);
						transform: scale(1.3);
						z-index: 10;
	}
	100% {
		-webkit-transform: scale(1);
						transform: scale(1);
	}
}

@keyframes pulse {
	0% {
		-webkit-transform: scale(1);
						transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.3);
						transform: scale(1.3);
						z-index: 10;
	}
	100% {
		-webkit-transform: scale(1);
						transform: scale(1);
	}
}

@-webkit-keyframes blink {
	to { opacity: 1; }
}

@keyframes blink {
	to { opacity: 1; }
}

@-webkit-keyframes blink-red {
	50% { color: black; }
	70% { color: #f74d31; }
	80% { color: black; }
	100% { color: #f74d31; }
}

@keyframes blink-red {
	50% { color: black; }
	70% { color: #f74d31; }
	80% { color: black; }
	100% { color: #f74d31; }
}

@-webkit-keyframes fill-bar {
	to { width: 100%; }
}

@keyframes fill-bar {
	to { width: 100%; }
}

@-webkit-keyframes show-then-hide {
	from { top: 5px; opacity: 1; }
	to { top: -5px; opacity: 0; }
}

@keyframes show-then-hide {
	from { top: 5px; opacity: 1; }
	to { top: -5px; opacity: 0; }
}

@-webkit-keyframes bounce {
	0% {
	opacity: 0.4;
	-webkit-transform: translateY(0.1em);
	        transform: translateY(0.1em);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(-0.4em);
		        transform: translateY(-0.4em);
	}
}

@keyframes bounce {
	0% {
	opacity: 0.4;
	-webkit-transform: translateY(0.1em);
	        transform: translateY(0.1em);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(-0.4em);
		        transform: translateY(-0.4em);
	}
}

@-webkit-keyframes swipe-to-start {
	to {
		margin-top: -400vh;
	}
}

@keyframes swipe-to-start {
	to {
		margin-top: -400vh;
	}
}
